{% load staticfiles %}
<h2 align="center">Gerrit Review Leaderboard</h2>

<form action="{% url 'index' %}" method="post">
{% csrf_token %}
<label for="project_name">Project: </label>
<select name="project_name">
{% for project in projects %}
    <option value="{{ project }}">{{ project }}</option>
{% endfor %}
</select>
<label for="time_period">Past: </label>
<select name="time_period">
{% for time_period in time_periods %}
    <option value="{{ time_period }}">{{ time_period }}</option>
{% endfor %}
</select>
<input type="submit" value="OK" />
</form>

{% block extra_head %}
<script type="text/javascript" charset="utf-8" src="{% static "leaderboard/jquery-2.2.0.min.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "leaderboard/jquery.tablesorter.min.js" %}"></script>
<link rel="stylesheet" href="{% static "leaderboard/tablesorter/style.css" %}" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#reviewers").tablesorter( {sortList: [[1,1], [2,1]]} );
        $("#current_reviewers").tablesorter( {sortList: [[1,1]]} );
    });
</script>
{% endblock %}

<h3 align="left">Merged Changes</h2>
{% block merged-content %}
{% if reviewers %}
<table id="reviewers" class="tablesorter">
<thead>
    <tr>
        <th>Reviewer Name</th>
        <th>Reviews</th>
        <th>Comments</th>
    </tr>
</thead>
<tbody>
    {% for reviewer in reviewers %}
    <tr>
        <td>{{reviewer.name}}</td>
        <td>{{reviewer.review_count}}</td>
        <td>{{reviewer.comment_count}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
    <p align="left">No reviewers found</p>
{% endif %}
{% endblock %}

<h3 align="left">Open Changes</h2>
{% block open-content %}
{% if current_reviewers %}
<table id="current_reviewers" class="tablesorter">
<thead>
    <tr>
        <th>Reviewer Name</th>
        <th>Reviews</th>
    </tr>
</thead>
<tbody>
    {% for reviewer in current_reviewers %}
    <tr>
        <td>{{reviewer.name}}</td>
        <td>{{reviewer.review_count}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
    <p align="left">No reviewers found</p>
{% endif %}
{% endblock %}
